body {
    background-color: rgb(205, 220, 233);
}

h1 {
    font-size: 41px;
    color: blue;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: rgb(114, 114, 180);
    text-align: center;
}

p {
    text-align: center;
}

